<div class="robot__capteurs" *ngIf="robots && robots.length > 0">
  <div *ngFor="let robot of robots">
    <h4>{{robot.name}}</h4>

    <ul class="list-group">
      <li class="list-group-item">
        Pompe droite :
        <div class="btn-group">
          <button type="button" class="btn btn-success" (click)="setPompe(robot, ESide.DROITE, EActionneurState.ON)">ON</button>
          <button type="button" class="btn btn-danger" (click)="setPompe(robot, ESide.DROITE, EActionneurState.OFF)">OFF</button>
        </div>
      </li>
      <li class="list-group-item">
        Pompe gauche :
        <div class="btn-group">
          <button type="button" class="btn btn-success" (click)="setPompe(robot, ESide.GAUCHE, EActionneurState.ON)">ON</button>
          <button type="button" class="btn btn-danger" (click)="setPompe(robot, ESide.GAUCHE, EActionneurState.OFF)">OFF</button>
        </div>
      </li>
      <li class="list-group-item">
        EV droite :
        <div class="btn-group">
          <button type="button" class="btn btn-success" (click)="setPompe(robot, ESide.DROITE, EActionneurState.ON)">AIR</button>
          <button type="button" class="btn btn-danger" (click)="setPompe(robot, ESide.DROITE, EActionneurState.OFF)">VIDE</button>
        </div>
      </li>
      <li class="list-group-item">
        EV gauche :
        <div class="btn-group">
          <button type="button" class="btn btn-success" (click)="setPompe(robot, ESide.GAUCHE, EActionneurState.ON)">AIR</button>
          <button type="button" class="btn btn-danger" (click)="setPompe(robot, ESide.GAUCHE, EActionneurState.OFF)">VIDE</button>
        </div>
      </li>
    </ul>
  </div>
</div>

