<ul class="list-group">
  <li class="list-group-item">
    Pompe droite :
    <div class="btn-group">
      <button type="button" class="btn btn-success" (click)="setPompe(ESide.DROITE, EActionneurState.ON)">ON
      </button>
      <button type="button" class="btn btn-danger" (click)="setPompe(ESide.DROITE, EActionneurState.OFF)">OFF
      </button>
    </div>
  </li>
  <li class="list-group-item">
    Pompe gauche :
    <div class="btn-group">
      <button type="button" class="btn btn-success" (click)="setPompe(ESide.GAUCHE, EActionneurState.ON)">ON
      </button>
      <button type="button" class="btn btn-danger" (click)="setPompe(ESide.GAUCHE, EActionneurState.OFF)">OFF
      </button>
    </div>
  </li>
  <li class="list-group-item">
    EV droite :
    <div class="btn-group">
      <button type="button" class="btn btn-success" (click)="setEv(ESide.DROITE, EActionneurState.ON)">AIR
      </button>
      <button type="button" class="btn btn-danger" (click)="setEv(ESide.DROITE, EActionneurState.OFF)">VIDE
      </button>
    </div>
  </li>
  <li class="list-group-item">
    EV gauche :
    <div class="btn-group">
      <button type="button" class="btn btn-success" (click)="setEv(ESide.GAUCHE, EActionneurState.ON)">AIR
      </button>
      <button type="button" class="btn btn-danger" (click)="setEv(ESide.GAUCHE, EActionneurState.OFF)">VIDE
      </button>
    </div>
  </li>
</ul>
