<div class="card">
  <h5 class="card-header">
    <fa-icon icon="info-circle"></fa-icon>
    Informations
  </h5>
  <div class="card-body">
    <div class="row">
      <div class="col">
        Equipe :
        <span class="badge badge-big"
              [style.background]="team==='BLEU'?'#00A1E6':team==='JAUNE'?'#FFBF00':'#555'">{{team}}</span>
      </div>
      <div class="col">
        Temps :
        <span class="badge badge-big badge-info">{{mainPosition?.matchTime / 1000 | number:'3.0-0'}}s</span>
      </div>
    </div>
  </div>
</div>
