<div class="card">
    <h5 class="card-header">
        <fa-icon icon="info-circle"></fa-icon>
        Informations
    </h5>
    <div class="card-body">
        <div class="row">
            <div class="col-3">
                Equipe :
                <span
                    class="badge badge-big"
                    [style.background]="team === 'BLEU' ? '#4E84A2' : team === 'JAUNE' ? '#DA9A14' : '#555'"
                    >{{ team }}</span
                >
            </div>
            <div class="col-3">
                Temps :
                <span class="badge badge-big bg-info">{{ mainPosition?.matchTime / 1000 | number: '3.0-0' }}s</span>
            </div>
        </div>
        <div class="row">
            <span class="col">Panneaux</span>
        </div>
        <div class="row">
            <div class="col" *ngFor="let panneau of mainPosition?.gameStatus?.panneaux; trackBy: trackByIndex">
                <div class="panneau" [class.panneau--BLEU]="panneau.BLEU" [class.panneau--JAUNE]="panneau.JAUNE"></div>
            </div>
        </div>
        <div class="row">
            <span class="col">Etats</span>
        </div>
        <div style="columns: 2">
            <div
                *ngFor="let item of mainPosition?.gameFlags | keyvalue; trackBy: trackByIndex"
                class="badge badge-big d-block mb-1"
                [ngClass]="{ 'bg-success': item.value, 'bg-danger': !item.value }"
            >
                {{ item.key }}
            </div>
        </div>
    </div>
</div>
