.couleur {
  height: 1rem;
  width: 100%;
  border: 1px solid transparent;
  margin-top: 0.25rem;

  &CarreFouille {
    opacity: 0.3;

    &--JAUNE {
      background-color: #DA9A14;
    }

    &--VIOLET {
      background-color: #4E3C6B;
    }

    &--INTERDIT {
      background-color: red;
    }

    &--INCONNU {
      border-color: #888;
    }

    &--null {
      border-color: #888;
    }

    &--bascule {
      opacity: 1;
    }
  }

  &Echantillon {

    &--ROUGE {
      background-color: #a71f22;
    }

    &--VERT {
      background-color: #40b679;
    }

    &--BLEU {
      background-color: #477bbe;
    }

    &--ROCHER {
      background-color: #da7c48;
    }

    &--INCONNU {
      border-color: #888;
    }

    &--null {
      border-color: #888;
    }
  }
}
