<div class="row">

  <div class="col-6 controls-list">
    <div class="card mb-3" *ngFor="let servoGroup of servos$ | async">
      <h5 class="card-header d-flex justify-content-between">
        <span>
          <fa-icon icon="cogs"></fa-icon>
          Servos: {{servoGroup.name}}
        </span>

        <app-servo-batch-control *ngIf="servoGroup.batch?.length"
                                 [robot]="robot" [group]="servoGroup"
                                 (change)="refreshServos$.next()">
        </app-servo-batch-control>
      </h5>

      <div class="list-group list-group-flush">
        <app-servo-control *ngFor="let servo of servoGroup.servos"
                           class="list-group-item p-2"
                           [robot]="robot" [servo]="servo">
        </app-servo-control>
      </div>
    </div>
  </div>

  <div class="col-3 controls-list">
    <div class="card mb-3">
      <h5 class="card-header">
        <fa-icon icon="arrows-alt"></fa-icon>
        Mouvements
      </h5>

      <div class="list-group list-group-flush">
        <app-mouvement-input class="list-group-item p-0" *ngFor="let mouvement of Mouvements"
                             [robot]="robot"
                             [name]="mouvement.name"
                             [icon]="mouvement.icon"
                             [type]="mouvement.type"
                             [fields]="mouvement.fields"></app-mouvement-input>
      </div>
    </div>
  </div>

  <div class="col-3 controls-list">
    <div class="card mb-3">
      <h5 class="card-header">
        <fa-icon icon="database"></fa-icon>
        Éxécutions
      </h5>

      <ul class="list-group list-group-flush">
        <li class="list-group-item list-group-item-action p-2"
            *ngFor="let exec of execs$ | async"
            (click)="showPaths(exec)">
          <strong>{{exec.id}}</strong> :
          le {{exec.dateStart | date: 'mediumDate'}}
          de {{exec.dateStart | date: 'shortTime'}}
          à {{exec.dateEnd | date: 'shortTime'}}
        </li>
      </ul>
    </div>

    <div class="card mb-3">
      <h5 class="card-header">
        <fa-icon icon="heartbeat"></fa-icon>
        Capteurs
      </h5>

      <div class="btn-group">
        <button type="button" class="btn btn-secondary"
                *ngIf="!(capteurs$ | async)?.numerique.Tirette"
                (click)="setTirette(true)">
          Mettre la tirette
        </button>
        <button type="button" class="btn btn-secondary"
                *ngIf="(capteurs$ | async)?.numerique.Tirette"
                (click)="setTirette(false)">
          Enlever la tirette
        </button>
        <button type="button" class="btn btn-secondary"
                *ngIf="!(capteurs$ | async)?.numerique.AU"
                (click)="setAu(true)">
          Enclencher l'AU
        </button>
        <button type="button" class="btn btn-secondary"
                *ngIf="(capteurs$ | async)?.numerique.AU"
                (click)="setAu(false)">
          Claquer l'AU
        </button>
        <button type="button" class="btn btn-jaune"
                (click)="setTeam('JAUNE')">
          Jaune
        </button>
        <button type="button" class="btn btn-bleu"
                (click)="setTeam('BLEU')">
          Bleu
        </button>
      </div>

      <pre class="m-2"><code>{{capteurs$ | async | json }}</code></pre>
    </div>
  </div>

</div>
