<div class="row">

  <div class="col-6 controls-list">
    <div class="card mb-3" *ngFor="let servoGroup of servos$ | async; trackBy: trackById">
      <h5 class="card-header d-flex justify-content-between">
        <span>
          <fa-icon icon="cogs"></fa-icon>
          Servos: {{servoGroup.name}}
        </span>

        <arig-servo-batch-control *ngIf="servoGroup.batch?.length"
                                  [robot]="robot" [group]="servoGroup"
                                  (changePosition)="refreshServos$.next()">
        </arig-servo-batch-control>
      </h5>

      <div class="list-group list-group-flush">
        <arig-servo-control *ngFor="let servo of servoGroup.servos; trackBy: trackById"
                            class="list-group-item p-2"
                            [robot]="robot" [servo]="servo">
        </arig-servo-control>
      </div>
    </div>
  </div>

  <div class="col-3 controls-list">
    <div class="card mb-3">
      <h5 class="card-header">
        <fa-icon icon="arrows-alt"></fa-icon>
        PID / Rampes
      </h5>

      <div class="list-group list-group-flush">
        <arig-asserv-input class="list-group-item p-2"
                           [robot]="robot"
                           type="DIST">
        </arig-asserv-input>
        <arig-asserv-input class="list-group-item p-2"
                           [robot]="robot"
                           type="ANGLE">
        </arig-asserv-input>
      </div>
    </div>

    <div class="card mb-3">
      <h5 class="card-header">
        <fa-icon icon="arrows-alt"></fa-icon>
        Mouvements
      </h5>

      <div class="list-group list-group-flush">
        <arig-mouvement-input class="list-group-item p-2" *ngFor="let mouvement of Mouvements"
                              [robot]="robot"
                              [name]="mouvement.name"
                              [icon]="mouvement.icon"
                              [type]="mouvement.type"
                              [fields]="mouvement.fields"
                              [select]="mouvement.select"
                              [values]="mouvement.values">
        </arig-mouvement-input>
      </div>
    </div>
  </div>

  <div class="col-3 controls-list">
    <div class="card mb-3">
      <h5 class="card-header">
        <fa-icon icon="database"></fa-icon>
        Éxécutions
      </h5>

      <ul class="list-group list-group-flush">
        <li class="list-group-item list-group-item-action  d-flex justify-content-between align-items-center"
            *ngFor="let exec of execs$ | async">
          {{exec | arigExec}}

          <span class="ml-auto"></span>

          <fa-icon icon="map" class="ml-1" ngbTooltip="Paths" placement="top"
                   (click)="showPaths(exec)"></fa-icon>
          <fa-icon [icon]="['far', 'file-alt']" class="ml-1" ngbTooltip="Logs" placement="top"
                   (click)="showLogs(exec)"></fa-icon>
        </li>
      </ul>
    </div>

    <div class="card mb-3">
      <h5 class="card-header">
        <fa-icon icon="heartbeat"></fa-icon>
        Capteurs
      </h5>

      <div class="btn-group" [hidden]="!robot.simulateur">
        <button type="button" class="btn btn-secondary"
                *ngIf="!(capteurs$ | async)?.numerique.Tirette"
                (click)="setTirette(true)">
          Mettre la tirette
        </button>
        <button type="button" class="btn btn-secondary"
                *ngIf="(capteurs$ | async)?.numerique.Tirette"
                (click)="setTirette(false)">
          Enlever la tirette
        </button>
        <button type="button" class="btn btn-secondary"
                *ngIf="!(capteurs$ | async)?.numerique.AU"
                (click)="setAu(true)">
          Enclencher l'AU
        </button>
        <button type="button" class="btn btn-secondary"
                *ngIf="(capteurs$ | async)?.numerique.AU"
                (click)="setAu(false)">
          Claquer l'AU
        </button>
      </div>

      <arig-liste-capteurs class="list-group list-group-flush"
                           [capteurs]="capteurs$ | async">
      </arig-liste-capteurs>
    </div>
  </div>

</div>
