<div class="row">
  <div class="col">
    <app-map-input [table]="currentTable"
                   [robotPosition]="robotPosition"
                   [team]="team"
                   (positionChanged)="positionChanged($event)"
                   (angleChanged)="angleChanged($event)">
    </app-map-input>
  </div>

  <div class="col">
    <div class="card">
      <div class="card-body row">
        <label class="col form-group has-float-label">
          <select class="form-control" [(ngModel)]="currentTable">
            <option *ngFor="let table of Tables" [ngValue]="table">
              {{table.name}}
            </option>
          </select>
          <span>Table</span>
        </label>

        <label class="col form-group has-float-label">
          <select class="form-control" [(ngModel)]="currentMode">
            <option *ngFor="let mode of Modes" [ngValue]="mode.name">
              {{mode.label}}
            </option>
          </select>
          <span>Mode</span>
        </label>
      </div>

      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <h5 class="card-title">Match time :</h5>
          <div class="row">
            <div class="col">
              <h5> {{robotPosition?.matchTime / 1000}}</h5>
            </div>
          </div>
        </li>
        <li class="list-group-item">
          <h5 class="card-title">Position actuelle :</h5>
          <div class="row">
            <div class="col">
              x: {{robotPosition?.x | number:'4.0-0'}}
            </div>

            <div class="col">
              y: {{robotPosition?.y | number:'4.0-0'}}
            </div>

            <div class="col">
              angle: {{robotPosition?.angle | number:'2.1-1'}}
            </div>
          </div>
        </li>
        <li class="list-group-item">
          <h5 class="card-title">Mouvement en cours :</h5>
          <div class="row">
            <div class="col">
              type: {{robotPosition?.targetMvt?.type}}
            </div>
            <div class="col" *ngIf="robotPosition?.targetMvt?.type === 'PATH'">
              path: {{robotPosition?.targetMvt?.path | json}}
            </div>
            <div class="col" *ngIf="robotPosition?.targetMvt?.type === 'ROTATION'">
              angle: {{robotPosition?.targetMvt?.angle | number:'2.1-1'}}
            </div>
            <div class="col" *ngIf="robotPosition?.targetMvt?.type === 'TRANSLATION'">
              distance: {{robotPosition?.targetMvt?.distance | number:'4.0-0'}}
            </div>
          </div>
        </li>
        <li class="list-group-item">
          <h5 class="card-title">Position demandée :</h5>
          <div class="row">
            <div class="col">
              x: {{targetPosition?.x | number:'4.0-0'}}
            </div>

            <div class="col">
              y: {{targetPosition?.y | number:'4.0-0'}}
            </div>

            <div class="col">
              angle: {{targetPosition?.angle | number:'2.1-1'}}
            </div>
          </div>
        </li>
      </ul>
    </div>

  </div>
</div>
