<div class="row no-gutters">
  <div class="col">
    <app-map-input [table]="currentTable"
                   [robotPosition]="robotPosition"
                   [team]="team"
                   (positionChanged)="positionChanged($event)"
                   (angleChanged)="angleChanged($event)">
    </app-map-input>
  </div>


  <div class="col">
    <div class="card">
      <div class="card-body">
        <div class="form-group has-float-label m-0">
          <select class="form-control form-control-sm" [(ngModel)]="currentTable">
            <option *ngFor="let table of Tables" [ngValue]="table">
              {{table.name}}
            </option>
          </select>
          <span>Table</span>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="list-group list-group-flush">
        <div class="list-group-item">
          <h5 class="card-title">Déplacement :</h5>
          <ng-container *ngTemplateOutlet="position; context: {prefix: 'target', position: targetPosition}"></ng-container>
          <ng-container *ngTemplateOutlet="position; context: {prefix: 'current', position: robotPosition}"></ng-container>
          <div class="row mt-3" [formGroup]="form">
            <div class="form-group has-float-label col">
              <select class="form-control form-control-sm mr-1" formControlName="mode">
                <option *ngFor="let mode of Modes" [ngValue]="mode.name">
                  {{mode.label}}
                </option>
              </select>
              <span>Mode déplacement</span>
            </div>
            <div class="form-group has-float-label col">
              <select class="form-control form-control-sm mr-1" formControlName="sensDeplacement">
                <option *ngFor="let sens of SensDeplacement" [ngValue]="sens">
                  {{sens}}
                </option>
              </select>
              <span>Sens déplacement</span>
            </div>
            <div class="form-group has-float-label col">
              <select class="form-control form-control-sm mr-1" formControlName="sensRotation">
                <option *ngFor="let sens of SensRotation" [ngValue]="sens">
                  {{sens}}
                </option>
              </select>
              <span>Sens rotation</span>
            </div>
          </div>
        </div>

        <div class="list-group-item">
          <h5 class="card-title">Infos :</h5>
          <div class="row">
            <div class="col">
              <div class="row">
                <div class="col">
                  Equipe : <span class="badge badge-big" [style.background]="team==='BLEU'?'#00A1E6':team==='JAUNE'?'#FFBF00':'#555'">{{team}}</span>
                </div>
                <div class="col">
                  Temps : <span class="badge badge-big badge-info">{{robotPosition?.matchTime / 1000 | number:'3.0-0'}} s</span>
                </div>
              </div>
              <div *ngTemplateOutlet="listeCouleurs; context: {title: 'Ecueil équipe', couleurs: robotPosition?.gameStatus?.couleursEcueilEquipe}"></div>
              <div *ngTemplateOutlet="listeCouleurs; context: {title: 'Ecueil commun équipe', couleurs: robotPosition?.gameStatus?.couleursEcueilCommunEquipe}"></div>
              <div *ngTemplateOutlet="listeCouleurs; context: {title: 'Ecueil commun adverse', couleurs: robotPosition?.gameStatus?.couleursEcueilCommunAdverse}"></div>
              <div *ngTemplateOutlet="listeCouleurs; context: {title: 'Pinces avant', couleurs: robotPosition?.gameStatus?.pincesAvant}"></div>
              <div *ngTemplateOutlet="listeCouleurs; context: {title: 'Pinces arrière', couleurs: robotPosition?.gameStatus?.pincesArriere}"></div>
            </div>
            <div style="width: 150px">
              <div>Girouette : <span class="badge badge-big badge-light">{{robotPosition?.gameStatus?.girouette}}</span></div>
              <div *ngTemplateOutlet="status; context: {title: 'Phare', status: robotPosition?.gameStatus?.phare}"></div>
              <div *ngTemplateOutlet="status; context: {title: 'Manche à air 1', status: robotPosition?.gameStatus?.mancheAAir1}"></div>
              <div *ngTemplateOutlet="status; context: {title: 'Manche à air 2', status: robotPosition?.gameStatus?.mancheAAir2}"></div>
              <div *ngTemplateOutlet="status; context: {title: 'Ecueil Equipe', status: robotPosition?.gameStatus?.ecueilEquipePris}"></div>
              <div *ngTemplateOutlet="status; context: {title: 'Ecueil com. Equ.', status: robotPosition?.gameStatus?.ecueilCommunEquipePris}"></div>
              <div *ngTemplateOutlet="status; context: {title: 'Ecueil com. Adv.', status: robotPosition?.gameStatus?.ecueilCommunAdversePris}"></div>
            </div>
          </div>
        </div>

        <div class="list-group-item">
          <div class="row">
            <div class="col-7">
              <h5 class="card-title">Actions : <span class="badge badge-info">{{robotPosition?.actions.length}}</span></h5>
              En cours : {{robotPosition?.currentAction}}
              <div *ngFor="let action of robotPosition?.actions"
                   ngbTooltip="{{action.uuid}}" placement="left">
                <span class="badge badge-big mr-2"
                      [ngClass]="{'badge-success': action.valid, 'badge-danger': !action.valid}">{{action.order | number:'4.0-0'}}</span>
                {{action.name}}
              </div>
            </div>
            <div class="col-5">
              <h5 class="card-title">Score : <span class="badge badge-info">{{robotPosition?.score}}</span></h5>
              <div *ngFor="let score of robotPosition?.scoreStatus | keyvalue">
                <span class="badge badge-big badge-primary mr-2">{{score.value | number:'2.0-0'}}</span>
                {{score.key | titlecase}}
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<ng-template #listeCouleurs let-title="title" let-couleurs="couleurs">
  <div class="row">
    <span class="col">{{title}} :</span>
  </div>
  <div class="row">
    <div class="col" *ngFor="let couleur of couleurs">
      <div [class]="'couleur couleur--' + couleur"></div>
    </div>
  </div>
</ng-template>

<ng-template #position let-position="position" let-prefix="prefix">
  <div class="row">
    <div class="col">
      {{prefix}} X : <span class="badge badge-big badge-info">{{position?.x | number:'4.0-0'}}</span>
    </div>
    <div class="col">
      {{prefix}} Y : <span class="badge badge-big badge-info">{{position?.y | number:'4.0-0'}}</span>
    </div>
    <div class="col">
      {{prefix}} A : <span class="badge badge-big badge-info">{{position?.angle | number:'3.1-1'}}</span>
    </div>
  </div>
</ng-template>

<ng-template #status let-title="title" let-status="status">
  <div><span class="badge badge-big" [ngClass]="{'badge-success': status, 'badge-danger': !status}">{{title}}</span></div>
</ng-template>
