<nav class="navbar navbar-dark bg-primary">
  <a class="navbar-brand" [routerLink]="['/']">ARIG :: Robots supervisor</a>

  <ul class="navbar-nav flex-row">
    <li class="nav-item ml-2" *ngFor="let robot of robots$ | async" routerLinkActive="active">
      <a class="nav-link" [routerLink]="['robot', robot.id, 'controls']">{{robot.name}}</a>
    </li>
  </ul>

  <span class="ml-auto"></span>

  <div class="form-inline" *ngIf="selectedRobot && selectedRobotInfo">
    <span class="navbar-brand">{{selectedRobotInfo.nom}} ({{selectedRobotInfo.version}})</span>
    <a class="btn btn-outline-secondary"
       [routerLink]="['/robot', selectedRobot.id, 'controls']"
       routerLinkActive="active">
      <fa-icon [icon]="['fac', 'joystick']"></fa-icon>
      Controles
    </a>
    <a class="btn btn-outline-secondary"
       [routerLink]="['/robot', selectedRobot.id, 'map']"
       routerLinkActive="active">
      <fa-icon icon="map"></fa-icon>
      Carte
    </a>
    <button type="button" class="btn btn-info ml-2"
            ngbTooltip="Importer logs"
            (click)="importLogs(selectedRobot)">
      <fa-icon icon="database"></fa-icon>
    </button>
  </div>

  <span class="ml-auto"></span>

  <a href="//pgadmin.arig.local" target="_blank" class="btn btn-primary" ngbTooltip="PGAdmin" placement="bottom">
    <fa-icon icon="server" ></fa-icon>
  </a>

  <a href="//chronograf.arig.local" target="_blank" class="btn btn-primary" ngbTooltip="Chronograf" placement="bottom">
    <fa-icon [icon]="['far', 'chart-bar']" ></fa-icon>
  </a>

  <a href="//grafana.arig.local" target="_blank" class="btn btn-primary" ngbTooltip="Grafana" placement="bottom">
    <fa-icon icon="chart-line" ></fa-icon>
  </a>

  <a [routerLink]="['/admin']" class="btn btn-primary" ngbTooltip="Administation" placement="left">
    <fa-icon icon="user"></fa-icon>
  </a>
</nav>
