<nav class="navbar navbar-dark bg-primary">
  <a class="navbar-brand" [routerLink]="['/']">ARIG :: Robots supervisor</a>

  <ul class="navbar-nav">
    <li class="nav-item" *ngFor="let robot of robots$ | async" routerLinkActive="active">
      <a class="nav-link" [routerLink]="['robot', robot.id, 'controls']">{{robot.name}}</a>
    </li>
  </ul>

  <span class="ml-auto"></span>

  <div class="form-inline" *ngIf="selectedRobot">
    <span class="navbar-brand">{{selectedRobot.nom}} ({{selectedRobot.version}})</span>
    <a class="btn btn-outline-secondary"
       [routerLink]="['/robot', selectedRobot.id, 'controls']"
       routerLinkActive="active">
      <fa-icon [icon]="['fac', 'joystick']"></fa-icon>
      Controles
    </a>
    <a class="btn btn-outline-secondary"
       [routerLink]="['/robot', selectedRobot.id, 'map']"
       routerLinkActive="active">
      <fa-icon icon="map"></fa-icon>
      Carte
    </a>
  </div>

  <span class="ml-auto"></span>

  <a [routerLink]="['/admin']" class="btn btn-primary">
    <fa-icon icon="user"></fa-icon>
  </a>
</nav>
