
.menu-dropdown {
  width: 400px;

  .robot-item {
    display: flex;
    justify-content: space-between;
    align-items: center;

    input[type="checkbox"] {
      margin: 15px 10px;
    }

    span {
      margin: 10px 0;
    }

    .btn-logs {
      margin: 5px;
    }

  }
}

.spinner {
  border-top: 4px solid #2C3E50;
  border-right: 4px solid #18BC9C;
  border-bottom: 4px solid #9400D3;
  border-left: 4px solid #2C3E50;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

