<div class="container pt-5">
  <div class="row">
    <div class="col-sm">
      <img class="d-block m-auto" src="assets/logo.png">
    </div>
    <div class="col-sm">
      <img class="d-block m-auto" src="assets/coupe.png">
    </div>
  </div>

  <div class="row">
    <div class="col-sm">
      <img class="d-block m-auto" src="assets/3d/nerell.png">
    </div>
    <div class="col-sm">
      <img class="d-block m-auto" src="assets/3d/odin.png">
    </div>
    <div class="col-sm">
      <img class="d-block m-auto" src="assets/3d/elfa.png">
    </div>
    <div class="col-sm">
      <img class="d-block m-auto" src="assets/3d/sauron.png">
    </div>
  </div>

  <button class="btn btn-primary" (click)="loadIcons()">
    Icones
  </button>

  <ul class="list-group" style="flex-direction: row; flex-wrap: wrap;">
    <li class="list-group-item d-flex"
        style="width: 25%"
        *ngFor="let icon of icons">
      <fa-icon [icon]="icon" size="2x"></fa-icon>
      <span class="ml-3">{{icon | json}}</span>
    </li>
  </ul>

</div>
