<div class="map-container" #mapContainer
     (mousedown)="mousedown($event)"
     (mousemove)="mousemove($event)"
     (mouseup)="mouseup($event)"
     [style.width]="table?.width * table?.imageRatio * tableZoom + 'px'"
     [style.height]="table?.height * table?.imageRatio * tableZoom + 'px'"
     [style.backgroundImage]="'url(./assets/tables/' + table?.name + '.png)'"
     [style.transform]="'rotate(' + tableRotation + 'deg)'"
     [style.transformOrigin]="table?.height * table?.imageRatio / 2 * tableZoom + 'px ' + table?.height * table?.imageRatio / 2 * tableZoom + 'px'"
>
  <svg class="map-drawer">
    <line *ngIf="state.moving"
          [attr.x1]="robotPosition?.x * table?.imageRatio * tableZoom"
          [attr.y1]="(table?.height - robotPosition?.y) * table?.imageRatio * tableZoom"
          [attr.x2]="robotPosition?.x  * table?.imageRatio * tableZoom + 100 * tableZoom * Math.cos(state.angle)"
          [attr.y2]="(table?.height - robotPosition?.y) * table?.imageRatio * tableZoom - 100 * tableZoom * Math.sin(state.angle)"
          [style.strokeWidth]="7 * tableZoom"
    ></line>
  </svg>

  <div class="map-robot"
       [hidden]="!robotPosition"
       [style.left]="robotPosition?.x  * table?.imageRatio * tableZoom + 'px'"
       [style.top]="(table?.height - robotPosition?.y) * table?.imageRatio * tableZoom + 'px'"
       [style.transform]="'scale(' + tableZoom + ') rotate(' + (22.5-robotPosition?.angle) + 'deg)' | safeStyle"
  ></div>

  <div class="map-target"
       [hidden]="!targetPosition"
       [style.left]="targetPosition?.x  * table?.imageRatio * tableZoom + 'px'"
       [style.top]="(table?.height - targetPosition?.y) * table?.imageRatio * tableZoom + 'px'"
       [style.transform]="'scale(' + tableZoom + ') rotate(' + (-targetPosition?.angle) + 'deg)' | safeStyle"
  >
    <fa name="crosshairs" class="map-target-target"></fa>
    <fa name="arrow-right" class="map-target-arrow"></fa>
  </div>
</div>
