<div class="row">
  <div class="col-3 col-xl-2">
    <app-sidebar [robot]="selectedRobot || {}" (actionRobot)="addedRobot($event)"></app-sidebar>
  </div>

  <div class="col-3 col-xl-2 robot-list">
    <div class="card">
      <h5 class="card-header">
        <fa-icon icon="robot"></fa-icon>
        Robots
      </h5>

      <ul class="list-group list-group-flush">
        <li class="justify-content-between list-group-item list-group-item-action"
            *ngFor="let robot of robots"
            (click)="selectRobot(robot)"
            [ngClass]="{'active': selectedRobot != null && robot.id === selectedRobot.id}"
            routerLinkActive="active">
          <span style="flex-grow: 1">{{robot.name}}</span>
          <span class="badge badge-default badge-pill">{{robot.host}}</span>
          <fa-icon icon="window-close" class="ml-1 float-right" (click)="deleteRobot(robot)"></fa-icon>
        </li>
      </ul>
    </div>
  </div>
  <div class="col-6 col-xs-8 robot-execs-list" *ngIf="selectedRobot != null">
    <div class="card">
      <h5 class="card-header">
        <fa-icon icon="robot"></fa-icon>
        Execs de robot <strong>{{selectedRobot.name}}</strong>
      </h5>
      <ul class="list-group list-group-flush">
        <li class="justify-content-between list-group-item list-group-item-action"
            *ngFor="let exec of selectedRobot.execs"
            routerLinkActive="active">
          <span style="flex-grow: 1">{{exec.numberExec}} - du {{exec.dateStart | date: 'medium'}} <i>au</i> {{exec.dateEnd | date: 'medium'}}</span>
          <fa-icon icon="window-close" class="ml-1 float-right" (click)="deleteExec(exec)"></fa-icon>
        </li>
      </ul>
    </div>
  </div>
</div>
