<button (click)="addRobot()" class="btn btn-primary">Nouveau robot</button>

<div class="row mt-3">
  <div class="col-3">
    <div class="card">
      <h5 class="card-header">
        <fa-icon icon="robot"></fa-icon>
        Robots
      </h5>

      <ul class="list-group list-group-flush">
        <li class="list-group-item list-group-item-action d-flex justify-content-between align-items-center"
            *ngFor="let robot of robots$ | async"
            (click)="selectRobot(robot)"
            [ngClass]="{'active': selectedRobot && robot.id === selectedRobot.id}">
          {{robot.name}}

          <span class="ml-auto"></span>

          <span (click)="$event.stopPropagation()">
            <fa-icon icon="edit" class="ml-1" ngbTooltip="Éditer" placement="top"
                     (click)="editRobot(robot)"></fa-icon>
            <fa-icon icon="database" class="ml-1" ngbTooltip="Importer logs" placement="top"
                     (click)="importLogs(robot)"></fa-icon>
            <fa-icon icon="window-close" class="ml-1" ngbTooltip="Supprimer" placement="top"
                     (click)="deleteRobot(robot)"></fa-icon>
          </span>
        </li>
      </ul>
    </div>
  </div>

  <div class="col-9" *ngIf="selectedRobot != null">
    <div class="card">
      <h5 class="card-header">
        <fa-icon icon="database"></fa-icon>
        Éxécutions de <strong>{{selectedRobot.name}}</strong>
      </h5>
      <ul class="list-group list-group-flush">
        <li class="list-group-item list-group-item-action d-flex justify-content-between align-items-center"
            *ngFor="let exec of execs$ | async">
          {{exec | exec}}

          <span class="ml-auto"></span>

          <fa-icon icon="window-close" class="ml-1" (click)="$event.stopPropagation(); deleteExec(exec)"></fa-icon>
        </li>
      </ul>
    </div>
  </div>
</div>
