.bras-canvas {
    cursor: none;
}

.btn-bras {
    --bs-btn-color: var(--color-bras);
    --bs-btn-border-color: var(--color-bras);
    --bs-btn-hover-bg: var(--color-bras);
    --bs-btn-hover-border-color: var(--color-bras);
    --bs-btn-active-bg: var(--color-bras);
    --bs-btn-active-border-color: var(--color-bras);
    --bs-btn-disabled-color: var(--color-bras);
    --bs-btn-disabled-border-color: var(--color-bras);
}

.btns-pinces {
    width: 100%;

    .btn {
        font-size: 0.8em;
        padding-left: 0px;
        padding-right: 0px;
    }
}