.bras-canvas {
    cursor: none;
}

.btn-bras {
    --bs-btn-color: var(--color-bras);
    --bs-btn-border-color: var(--color-bras);
    --bs-btn-hover-bg: var(--color-bras);
    --bs-btn-hover-border-color: var(--color-bras);
    --bs-btn-active-bg: var(--color-bras);
    --bs-btn-active-border-color: var(--color-bras);
    --bs-btn-disabled-color: var(--color-bras);
    --bs-btn-disabled-border-color: var(--color-bras);
}
