<arig-sidebar-container [sidebarButtons]="sidebarButtons">
    <arig-pumps-control [robot]="robot"></arig-pumps-control>

    <div class="card">
        <h5 class="card-header d-flex justify-content-between">
            <span>
                <fa-icon [icon]="$any(['fas', 'robot-arm'])"></fa-icon>
                Bras
            </span>

            <div class="btn-group d-flex">
                <input
                    type="radio"
                    class="btn-check"
                    name="ctrlMode"
                    id="ctrlMode-unit"
                    [value]="false"
                    [(ngModel)]="groupMode"
                />
                <label class="btn btn-sm btn-outline-primary" for="ctrlMode-unit"> Mode unitaire </label>
                <input
                    type="radio"
                    class="btn-check"
                    name="ctrlMode"
                    id="ctrlMode-group"
                    [value]="true"
                    [(ngModel)]="groupMode"
                />
                <label class="btn btn-sm btn-outline-primary" for="ctrlMode-group"> Mode groupé </label>
            </div>
        </h5>

        <div class="card-body">
            <div class="row g-1">
                <div class="col">
                    <div #container class="bras-canvas"></div>

                    <pre>{{ logs }}</pre>
                </div>

                <div class="col" *ngIf="config">
                    <div class="btn-group d-flex">
                        <ng-container *ngFor="let bras of names">
                            <input
                                type="radio"
                                class="btn-check"
                                name="positionList"
                                [id]="'bras-' + bras"
                                [value]="bras"
                                [(ngModel)]="selectedBras"
                                (ngModelChange)="onChangeBras()"
                            />
                            <label
                                class="btn btn-outline-primary btn-custom"
                                [style]="'font-size: 0.8em; flex: 1; --color-btn:' + COLORS[bras]"
                                [for]="'bras-' + bras"
                            >
                                {{ bras }}
                            </label>
                        </ng-container>
                    </div>

                    <div class="row mt-3 g-1" *ngIf="current">
                        <div *ngFor="let bras of names" class="col-2" [class.bg-secondary]="isActive(bras)">
                            <form class="row" (ngSubmit)="setBras(current[bras], $any(bras))">
                                <div class="input-group input-group-sm">
                                    <span class="input-group-text bg-primary text-white">x</span>
                                    <input
                                        type="number"
                                        class="form-control form-control-sm"
                                        [(ngModel)]="current[bras].x"
                                        [name]="bras + '-x'"
                                    />
                                    <span class="input-group-text">mm</span>
                                </div>
                                <div class="input-group input-group-sm">
                                    <span class="input-group-text bg-primary text-white">y</span>
                                    <input
                                        type="number"
                                        class="form-control form-control-sm"
                                        [(ngModel)]="current[bras].y"
                                        [name]="bras + '-y'"
                                    />
                                    <span class="input-group-text">mm</span>
                                </div>
                                <div class="input-group input-group-sm">
                                    <span class="input-group-text bg-primary text-white">a</span>
                                    <input
                                        type="number"
                                        class="form-control form-control-sm"
                                        [(ngModel)]="current[bras].a"
                                        [name]="bras + '-a'"
                                    />
                                    <span class="input-group-text">°</span>
                                </div>
                                <div class="input-group input-group-sm">
                                    <div class="form-check form-switch">
                                        <input
                                            class="form-check-input"
                                            type="checkbox"
                                            [id]="bras + '-invertA1'"
                                            [(ngModel)]="current[bras].invertA1"
                                            [name]="bras + '-invertA1'"
                                        />
                                        <label class="form-check-label" [for]="bras + '-invertA1'">Invert A1</label>
                                    </div>
                                </div>
                                <div class="d-grid">
                                    <button class="btn btn-sm btn-outline-primary" type="submit">
                                        <fa-icon icon="check"></fa-icon>
                                    </button>
                                </div>
                                <div>
                                    <span class="badge badge-big bg-secondary mr-2">a1</span>
                                    {{ current[bras].a1 | number: '1.0-0' }}°
                                </div>
                                <div>
                                    <span class="badge badge-big bg-secondary mr-2">a2</span>
                                    {{ current[bras].a2 | number: '1.0-0' }}°
                                </div>
                                <div>
                                    <span class="badge badge-big bg-secondary mr-2">a3</span>
                                    {{ current[bras].a3 | number: '1.0-0' }}°
                                </div>
                            </form>

                            <div class="mt-3">
                                <div *ngIf="current[bras].state">
                                    <span class="badge badge-big bg-info">{{ current[bras].state }}</span>
                                </div>
                                <div *ngIf="!current[bras].state">
                                    <span class="badge badge-big bg-danger">N/A</span>
                                </div>
                            </div>

                            <div class="mt-3">
                                <button
                                    class="btn btn-sm btn-outline-light d-block"
                                    *ngFor="let p of config[bras].states | sort"
                                    (click)="setBrasByName($any(bras), p)"
                                    [disabled]="isStateDisabled($any(bras), p)"
                                >
                                    {{ p }}
                                </button>
                            </div>

                            <div class="mt-3 btn-group btns-pinces">
                                <ng-container *ngFor="let i of pinces[bras].positions | keyvalue; trackBy: trackByName">
                                    <input
                                        type="radio"
                                        class="btn-check"
                                        [name]="'positionList-' + pinces[bras].id"
                                        [id]="'pos-' + pinces[bras].id + '-' + i.value.value"
                                        [value]="i.value.value"
                                        [(ngModel)]="pinces[bras].currentPosition"
                                        (ngModelChange)="setPince(bras, pinces[bras])"
                                    />
                                    <label
                                        class="btn btn-outline-primary btn-sm"
                                        [for]="'pos-' + pinces[bras].id + '-' + i.value.value"
                                    >
                                        {{ i.value.name }}
                                    </label>
                                </ng-container>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</arig-sidebar-container>
