<form (ngSubmit)="addRobot()" #newRobotForm="ngForm">

  <div class="modal-header">
    <h4 class="modal-title">{{robot?.id ? 'Éditer un robot' : 'Ajouter un robot'}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <div class="custom-control custom-checkbox">
      <input type="checkbox"
             class="custom-control-input"
             name="simulateur"
             id="new-robot-simu"
             [(ngModel)]="robot.simulateur">
      <label class="custom-control-label" for="new-robot-simu">Simulateur</label>
    </div>

    <div class="form-group">
      <label>Nom</label>
      <div *ngFor="let name of ROBOT_NAME"
            class="custom-control custom-radio">
        <input type="radio"
               class="custom-control-input"
               id="name-{{name}}"
               name="name"
               [value]="name"
               [(ngModel)]="robot.name">
        <label class="custom-control-label" for="name-{{name}}">{{name}}</label>
      </div>
    </div>

    <div class="form-group">
      <label>Hôte</label>
      <input type="text"
             class="form-control"
             name="host"
             required
             pattern="^.+:[0-9]+$"
             placeholder="0.0.0.0:8080"
             [(ngModel)]="robot.host">
    </div>

    <div class="form-group" *ngIf="!robot.simulateur">
      <label>Login</label>
      <input type="text"
             class="form-control"
             name="login"
             [required]="!robot.simulateur"
             [(ngModel)]="robot.login">
    </div>

    <div class="form-group" *ngIf="!robot.simulateur">
      <label>Mot de passe</label>
      <input type="password"
             class="form-control"
             name="pwd"
             [required]="!robot.simulateur"
             [(ngModel)]="robot.pwd">
    </div>
  </div>

  <div class="modal-footer">
    <button type="submit"
            *ngIf="!robot.id"
            class="btn btn-success"
            [disabled]="!newRobotForm.form.valid">
      <fa-icon icon="plus"></fa-icon>
      Ajouter
    </button>
    <button type="submit"
            *ngIf="robot.id"
            class="btn btn-success"
            [disabled]="!newRobotForm.form.valid">
      <fa-icon icon="edit"></fa-icon>
      Valider
    </button>
  </div>

</form>
