@import 'bootstrap/scss/functions';

$secondary: #2C3E50;
$primary: #1abc9c;

$navbar-padding-y: 0.5rem;
$navbar-dark-color: white;

$offcanvas-horizontal-width: 40rem;

$enable-rounded: false;

$web-font-path: false;

@import 'bootswatch/dist/darkly/variables';
@import 'bootstrap/scss/variables';

// restore les class "ml" "mr" "pl" "pr" qui ont été renommées en "ms" "me" "ps" "pe" dans BT5
$utilities: (
    "margin-right": (
        responsive: true,
        property: margin-right,
        class: mr,
        values: map-merge($spacers, (auto: auto))
    ),
    "margin-left": (
        responsive: true,
        property: margin-left,
        class: ml,
        values: map-merge($spacers, (auto: auto))
    ),
    "padding-right": (
        responsive: true,
        property: padding-right,
        class: pr,
        values: $spacers
    ),
    "padding-left": (
        responsive: true,
        property: padding-left,
        class: pl,
        values: $spacers
    ),
);
