<div class="card">
  <h5 class="card-header d-flex justify-content-between">
      <span>
        <fa-icon icon="fan"></fa-icon>
        Pompes
      </span>

    <div class="btn-group">
      <button type="button" class="btn btn-primary btn-sm"
              (click)="setPumpState('bas', true)">
        Bas ON
      </button>
      <button type="button" class="btn btn-danger btn-sm"
              (click)="setPumpState('bas', false)">
        Bas OFF
      </button>

      <button type="button" class="btn btn-primary btn-sm ml-3"
              (click)="setPumpState('haut', true)">
        Haut ON
      </button>
      <button type="button" class="btn btn-danger btn-sm"
              (click)="setPumpState('haut', false)">
        Haut OFF
      </button>
    </div>
  </h5>
</div>
