<div class="card">
    <h5 class="card-header d-flex justify-content-between">
        <span>
            <fa-icon icon="fan"></fa-icon>
            Actionneurs
        </span>

        <div class="btn-group">
            <button type="button" class="btn btn-primary btn-sm" (click)="setElectroAimant('on')">Aimants ON</button>
            <button type="button" class="btn btn-danger btn-sm" (click)="setElectroAimant('off')">Aimants OFF</button>

            <button
                type="button"
                class="btn btn-primary btn-sm ml-3 btn-custom"
                style="--color-btn: #ffbf00"
                (click)="setSolarWheel('jaune')"
            >
                Roue Jaune
            </button>
            <button
                type="button"
                class="btn btn-primary btn-sm btn-custom"
                style="--color-btn: #005ce6"
                (click)="setSolarWheel('bleu')"
            >
                Roue Bleu
            </button>
            <button type="button" class="btn btn-danger btn-sm" (click)="setSolarWheel('off')">Roue OFF</button>
        </div>
    </h5>
</div>
