<h2>Robots :</h2>

<ul class="list-group">
  <li class="list-group-item" *ngFor="let robot of robots" (click)="selectRobot(robot)">
    {{robot.id}}
    <span class="badge">{{robot.host}}</span>
  </li>
</ul>

<form class="well" (ngSubmit)="addRobot()" #newRobotForm="ngForm">
  <div class="form-group">
    <label>Identifiant :</label>
    <input type="text" class="form-control"
           name="id" required
           [(ngModel)]="newRobot.id">
  </div>

  <div class="form-group">
    <label>Hôte :</label>
    <input type="text" class="form-control"
           name="host" required
           [(ngModel)]="newRobot.host">
  </div>

  <button type="submit" class="btn btn-success"
          [disabled]="!newRobotForm.form.valid">
    <i class="glyphicon glyphicon-plus"></i> Ajouter
  </button>
</form>
