<div class="row">
  <md-input-container class="col-sm-3">
    <input mdInput type="number"
           [min]="servo.minPosition"
           [max]="servo.maxPosition"
           placeholder="Position"
           [(ngModel)]="servo.currentPosition">
  </md-input-container>

  <div class="col-sm-6">
    <md-slider style="width: 100%"
               [min]="servo.minPosition"
               [max]="servo.maxPosition"
               tickInterval="100"
               [(ngModel)]="servo.currentPosition"></md-slider>
  </div>

  <md-input-container class="col-sm-3">
    <input mdInput type="number"
           [min]="servo.minSpeed"
           [max]="servo.maxSpeed"
           placeholder="Vitesse"
           [(ngModel)]="servo.currentSpeed">
  </md-input-container>
</div>
