<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link"
       [routerLink]="['./info']"
       routerLinkActive="active">
      <fa-icon [icon]="info-circle"></fa-icon>
      Informations
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link"
       [routerLink]="['./capteurs']"
       routerLinkActive="active">
      <fa-icon [icon]="heartbeat"></fa-icon>
      Capteurs
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link"
       [routerLink]="['./servos']"
       routerLinkActive="active">
      <fa-icon [icon]="cogs"></fa-icon>
      Servos
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link"
       [routerLink]="['./mouvement']"
       routerLinkActive="active">
      <fa-icon [icon]="arrows"></fa-icon>
      Mouvement
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link"
       [routerLink]="['./map']"
       routerLinkActive="active">
      <fa-icon [icon]="map"></fa-icon>
      Carte
    </a>
  </li>
</ul>

<div class="bg-faded p-3">
  <router-outlet></router-outlet>
</div>
