<ul class="nav nav-pills">
  <li class="nav-item">
    <a class="nav-link disabled">
      {{(robotInfos$ | async)?.nom}} ({{(robotInfos$ | async)?.version}})
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link"
       [routerLink]="['./controls']"
       routerLinkActive="active">
      <fa-icon [icon]="['fac', 'joystick']"></fa-icon>
      Controles
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link"
       [routerLink]="['./map']"
       routerLinkActive="active">
      <fa-icon icon="map"></fa-icon>
      Carte
    </a>
  </li>
</ul>

<div class="bg-faded mt-3">
  <router-outlet></router-outlet>
</div>
