<div class="robot__servos">
  <div *ngFor="let robot of robots" class="robot__servos_card">
    <div class="card">
      <h4 class="card-header">{{robot.name}}</h4>
      <div class="card mt-3 robot__servos_servo" *ngFor="let servo of robot.servos">
        <div class="card-block">
          <h5 class="card-title">{{servo.name}}
            <small>id: {{servo.id}}, min: {{servo.minPosition}}, max: {{servo.maxPosition}}</small>
          </h5>

          <app-servo-control [robot]="robot" [servo]="servo"></app-servo-control>
        </div>
      </div>
    </div>
  </div>
</div>
