<div class="row g-0">
  <div class="col-3 d-flex justify-content-center align-items-center">
    <div class="mouvement-icon">
      <fa-icon [icon]="icon"></fa-icon>
    </div>
  </div>
  <div class="col-9">
    <h6 class="card-title mb-0">{{name}}</h6>

    <div class="form-inline d-inline-flex mt-3">
      <div *ngFor="let field of fields"
           class="form-label-group">
        <input class="form-control form-control-sm mr-1"
               style="width: 80px"
               type="number"
               [(ngModel)]="values[field]"
               placeholder="{{field}}">
        <label>{{field}}</label>
      </div>
      <div *ngFor="let select of select | keyvalue"
           class="form-label-group">
        <select class="form-select form-select-sm mr-1"
                style="width: 80px"
                [(ngModel)]="values[select.key]">
          <option *ngFor="let opt of select.value" [ngValue]="opt" [label]="opt"></option>
        </select>
        <label>{{select.key}}</label>
      </div>

      <button class="btn btn-primary btn-sm btn-round" (click)="apply()">
        <fa-icon icon="check"></fa-icon>
      </button>
    </div>
  </div>
</div>


