<div class="card">
  <h5 class="card-header">
    <fa name="android"></fa>
    Robots
  </h5>

  <ul class="list-group list-group-flush">
    <li class="list-group-item justify-content-between"
        *ngFor="let robot of robots"
        [routerLink]="['/robot', robot.id]"
        routerLinkActive="active">
      {{robot.id}}
      <span class="badge badge-default badge-pill">{{robot.host}}</span>
    </li>
  </ul>
</div>

<form class="card mt-3"
      (ngSubmit)="addRobot()"
      #newRobotForm="ngForm">
  <h5 class="card-header">Ajouter un robot</h5>

  <div class="card-block">
    <div class="form-group">
      <label>Identifiant</label>
      <input type="text"
             class="form-control"
             name="id"
             required
             [(ngModel)]="newRobot.id">
    </div>

    <div class="form-group">
      <label>Hôte</label>
      <input type="text"
             class="form-control"
             name="host"
             required
             pattern="^[0-9]+\.[0-9]+\.[0-9]+\.[0-9]+:[0-9]+$"
             placeholder="0.0.0.0:8080"
             [(ngModel)]="newRobot.host">
    </div>

    <button type="submit"
            class="btn btn-success"
            [disabled]="!newRobotForm.form.valid">
      <fa name="plus"></fa>
      Ajouter
    </button>
  </div>
</form>
