<nav class="navbar navbar-dark bg-secondary">
  <div class="container-fluid">
    <a class="navbar-brand" [routerLink]="['/']">ARIG :: Robots supervisor</a>

    <ul class="navbar-nav flex-row">
      <li *ngFor="let r of robots$ | async; trackBy: trackById"
          class="nav-item ml-2 d-flex flex-row align-items-center">
        <span class="form-check">
          <input type="checkbox" class="form-check-input" id="cb-{{r.robot.id}}"
                [checked]="r.selected"
                (change)="toggleRobot(r.robot)">
          <label class="form-check-label" for="cb-{{r.robot.id}}"></label>
        </span>
        <a class="nav-link badge robot-status-badge"
           [class.bg-success]="r.online"
           [class.bg-danger]="!r.online"
           [class.robot-status-badge--active]="r.main"
           (click)="setMainRobot(r.robot)">
          {{r.robot.name}}
          <ng-container *ngIf="r.robot.simulateur">(simu)</ng-container>
        </a>
      </li>
    </ul>

    <span class="ml-auto"></span>

    <a href="https://cdr-score.netlify.app" target="_blank" class="btn btn-secondary" ngbTooltip="Calculateur de points" placement="bottom">
      <fa-icon icon="calculator"></fa-icon>
    </a>

    <a href="//pgadmin.arig.local" target="_blank" class="btn btn-secondary" ngbTooltip="PGAdmin" placement="bottom">
      <fa-icon icon="server"></fa-icon>
    </a>

    <a href="//chronograf.arig.local" target="_blank" class="btn btn-secondary" ngbTooltip="Chronograf" placement="bottom">
      <fa-icon [icon]="['far', 'chart-bar']"></fa-icon>
    </a>

    <a href="//grafana.arig.local" target="_blank" class="btn btn-secondary" ngbTooltip="Grafana" placement="bottom">
      <fa-icon icon="chart-line"></fa-icon>
    </a>

    <a [routerLink]="['/admin']" class="btn btn-secondary" ngbTooltip="Administation" placement="left">
      <fa-icon icon="user"></fa-icon>
    </a>
  </div>
</nav>
