<div>
  <div class="form-inline">
    <label class="form-group has-float-label">
      <input class="form-control"
             type="number"
             [min]="servo.minPosition"
             [max]="servo.maxPosition"
             placeholder="Position"
             [formControl]="position"/>
      <span>Position</span>
    </label>

    <div class="btn-group">
      <button class="btn btn-info" (click)="incrementPosition(-100)">
        <fa-icon icon="minus"></fa-icon>
        100
      </button>
      <button class="btn btn-info" (click)="incrementPosition(-10)">
        <fa-icon icon="minus"></fa-icon>
        10
      </button>
    </div>
    <div class="btn-group">
      <button class="btn btn-info" (click)="incrementPosition(10)">
        <fa-icon icon="plus"></fa-icon>
        10
      </button>
      <button class="btn btn-info" (click)="incrementPosition(100)">
        <fa-icon icon="plus"></fa-icon>
        100
      </button>
    </div>

    <label class="form-group has-float-label">
      <input class="form-control"
             type="number"
             [min]="servo.minSpeed"
             [max]="servo.maxSpeed"
             placeholder="Vitesse"
             [(ngModel)]="servo.currentSpeed">
      <span>Vitesse</span>
    </label>
  </div>
  <div class="btn-group" data-toggle="buttons">
    <label class="btn btn-success"
           *ngFor="let pos of servo.positions"
           [ngClass]="{active: pos.value === position.value}">
      <input type="radio"
             [checked]="pos.value === position.value"
             [value]="pos.value"
             (click)="setPosition(pos.value)">
      {{pos.name}}
    </label>
  </div>
</div>
