<h6 class="card-title mb-0">
  {{servo.name}}
  <small>id: {{servo.id}}</small>
</h6>

<div class="form-inline d-inline-flex mt-3">
  <div class="form-group mr-1">
    <div class="input-group">
      <label class="has-float-label">
      <input class="form-control form-control-sm"
             style="width: 70px"
             type="number"
             placeholder="Position"
             [(ngModel)]="servo.currentPosition"
             (keydown.enter)="setPosition()"/>
        <span>Position</span>
      </label>
      <div class="input-group-append">
        <button class="btn btn-sm btn-secondary" type="button"
                (click)="setPosition()">
          <fa-icon icon="check"></fa-icon>
        </button>
      </div>
    </div>
  </div>

  <div class="btn-group mr-1">
    <button class="btn btn-info btn-sm" (click)="incrementPosition(-100)">
      <fa-icon icon="minus"></fa-icon>
      100
    </button>
    <button class="btn btn-info btn-sm" (click)="incrementPosition(-10)">
      <fa-icon icon="minus"></fa-icon>
      10
    </button>
  </div>
  <div class="btn-group mr-1">
    <button class="btn btn-info btn-sm" (click)="incrementPosition(10)">
      <fa-icon icon="plus"></fa-icon>
      10
    </button>
    <button class="btn btn-info btn-sm" (click)="incrementPosition(100)">
      <fa-icon icon="plus"></fa-icon>
      100
    </button>
  </div>

  <label class="form-group has-float-label mr-1">
    <input class="form-control form-control-sm"
           style="width: 70px"
           type="number"
           size="5"
           placeholder="Vitesse"
           [(ngModel)]="servo.currentSpeed">
    <span>Vitesse</span>
  </label>
</div>

<div class="btn-group btn-group-toggle d-inline-block" ngbRadioGroup name="positionList"
     [(ngModel)]="servo.currentPosition" (ngModelChange)="setPosition()">
  <label ngbButtonLabel class="btn-outline-secondary btn-sm"
         *ngFor="let pos of servo.positions; trackBy: trackByName">
    <input ngbButton type="radio" [value]="pos.value"> {{pos.name}}
  </label>
</div>
