<div class="row no-gutters">
  <div class="col-3 d-flex justify-content-center align-items-center">
    <div class="mouvement-icon">
      <fa-icon [icon]="type === 'ANGLE' ? 'redo-alt' : 'arrow-right'"></fa-icon>
    </div>
  </div>
  <div class="col-9">
    <h6 class="card-title mb-0">{{type === 'ANGLE' ? 'Angle' : 'Distance'}}</h6>

    <div class="form-inline d-inline-flex mt-3">
      <div class="form-group form-label-group">
        <input class="form-control form-control-sm mr-1"
               style="width: 80px"
               type="number"
               step="0.0001"
               [(ngModel)]="values.kp"
               placeholder="P">
        <label>P</label>
      </div>
      <div class="form-group form-label-group">
        <input class="form-control form-control-sm mr-1"
               style="width: 80px"
               type="number"
               step="0.0001"
               [(ngModel)]="values.ki"
               placeholder="I">
        <label>I</label>
      </div>
      <div class="form-group form-label-group">
        <input class="form-control form-control-sm mr-1"
               style="width: 80px"
               type="number"
               step="0.0001"
               [(ngModel)]="values.kd"
               placeholder="D">
        <label>D</label>
      </div>
    </div>

    <div class="form-inline d-inline-flex mt-3">
      <div class="form-group form-label-group">
        <input class="form-control form-control-sm mr-1"
               style="width: 80px"
               type="number"
               step="1"
               [(ngModel)]="values.rampAcc"
               placeholder="Rampe Acc">
        <label>Ramp Acc</label>
      </div>
      <div class="form-group form-label-group">
        <input class="form-control form-control-sm mr-1"
               style="width: 80px"
               type="number"
               step="1"
               [(ngModel)]="values.rampDec"
               placeholder="Rampe Dec">
        <label>Ramp Dec</label>
      </div>
      <div class="form-group form-label-group">
        <input class="form-control form-control-sm mr-1"
               style="width: 80px"
               type="number"
               step="1"
               [(ngModel)]="values.vitesse"
               placeholder="Vitesse">
        <label>Vitesse</label>
      </div>
    </div>
    <button class="btn btn-secondary btn-sm btn-round" (click)="apply()">
      <fa-icon icon="check"></fa-icon>
    </button>
  </div>
</div>
