<h2>{{robot ? robot.id : ''}}</h2>

<button (click)="refresh()" class="btn btn-default">Rafraichir</button>

<div class="row">
  <div class="col-md-6">
    <h3>Servos</h3>

    <div class="media servo-item" *ngFor="let servo of servos">
      <div class="media-body">
        <h4 class="media-heading">{{servo.name}}
          <small>id: {{servo.id}}, min: {{servo.minPosition}}, max: {{servo.maxPosition}}</small>
        </h4>

        <app-servo-slider [robot]="robot" [servo]="servo"></app-servo-slider>
        <app-servo-buttons [robot]="robot" [servo]="servo"></app-servo-buttons>
      </div>
    </div>
  </div>

  <md-list class="col-md-6">
    <h3>Mouvement</h3>

    <div class="media" *ngFor="let mouvement of MOUVEMENTS">
      <div class="media-body">
        <h4 class="media-heading">{{mouvement.name}}</h4>

        <app-mouvement-input [robot]="robot" [type]="mouvement.type"
                             [fields]="mouvement.fields"></app-mouvement-input>
      </div>
    </div>
  </md-list>
</div>
