<form class="card mt-3 p-3"
      (ngSubmit)="addRobot()"
      #newRobotForm="ngForm">
  <h5 class="card-header">Ajouter un robot</h5>

  <div class="card-block">
    <div class="form-group">
      <label>Nom</label>
      <input type="text"
             class="form-control"
             name="id"
             required
             [(ngModel)]="robot.name">
    </div>

    <div class="form-group">
      <label>Hôte</label>
      <input type="text"
             class="form-control"
             name="host"
             required
             pattern="^.+:[0-9]+$"
             placeholder="0.0.0.0:8080"
             [(ngModel)]="robot.host">
    </div>

    <div class="custom-control custom-checkbox">
      <input type="checkbox"
             class="custom-control-input"
             name="simulateur"
             placeholder="Simulateur"
             id="new-robot-simu"
             [(ngModel)]="robot.simulateur">
      <label class="custom-control-label" for="new-robot-simu">Simulateur?</label>
    </div>


    <div class="form-group" *ngIf="robot.simulateur">
      <label>Répertoire de logs</label>
      <input type="text"
             class="form-control"
             name="directory"
             required
             placeholder="répertoire de logs"
             [(ngModel)]="robot.dir">
    </div>

    <button type="submit"
            *ngIf="!robot.id"
            class="btn btn-success"
            [disabled]="!newRobotForm.form.valid">
      <fa-icon icon="plus"></fa-icon>
      Ajouter
    </button>
    <button type="submit"
            *ngIf="robot.id"
            class="btn btn-success"
            [disabled]="!newRobotForm.form.valid">
      <fa-icon icon="edit"></fa-icon>
      Valider
    </button>
  </div>
</form>
