<div class="form-inline">
  <label class="mr-2">Table</label>
  <select class="form-control"
          [(ngModel)]="currentTable">
    <option *ngFor="let table of Tables"
            [ngValue]="table">
      {{table.name}}
    </option>
  </select>
</div>

<div class="map-container" #mapContainer
     (mousedown)="mousedown($event)"
     (mousemove)="mousemove($event)"
     (mouseup)="mouseup($event)"
     [style.width]="currentTable?.imageWidth + 'px'"
     [style.height]="currentTable?.imageHeight + 'px'"
     [style.backgroundImage]="'url(./assets/tables/' + currentTable?.name + '.png)'"
>
  <svg class="map-drawer">
    <line *ngIf="state.moving"
      [attr.x1]="robotPosition?.x / currentTable?.width * currentTable?.imageWidth"
      [attr.y1]="currentTable?.imageHeight - robotPosition?.y / currentTable?.height * currentTable?.imageHeight"
      [attr.x2]="robotPosition?.x / currentTable?.width * currentTable?.imageWidth + 100 * Math.cos(state.angle)"
      [attr.y2]="currentTable?.imageHeight - robotPosition?.y / currentTable?.height * currentTable?.imageHeight - 100 * Math.sin(state.angle)"
    ></line>
  </svg>

  <div class="map-robot"
       [hidden]="!robotPosition"
       [style.left]="robotPosition?.x / currentTable?.width * currentTable?.imageWidth + 'px'"
       [style.top]="currentTable?.imageHeight - robotPosition?.y / currentTable?.height * currentTable?.imageHeight + 'px'"
       [style.transform]="'rotate(' + (22.5-robotPosition?.angle) + 'deg)'"
       ></div>

  <div class="map-target"
       [hidden]="!targetPosition"
       [style.left]="targetPosition?.x / currentTable?.width * currentTable?.imageWidth + 'px'"
       [style.top]="currentTable?.imageHeight - targetPosition?.y / currentTable?.height * currentTable?.imageHeight + 'px'"
       [style.transform]="'rotate(' + (-targetPosition?.angle) + 'deg)'"
       >
    <fa name="crosshairs"></fa>
    <fa name="arrow-right" class="map-target-arrow"></fa>
  </div>
</div>
