<div class="btn-group">
  <button type="button" class="btn btn-success"
          *ngIf="!(capteurs$ | async)?.numerique.Tirette"
          (click)="setTirette( true)">
    Mettre la tirette
  </button>
  <button type="button" class="btn btn-success"
          *ngIf="(capteurs$ | async)?.numerique.Tirette"
          (click)="setTirette(false)">
    Enlever la tirette
  </button>
  <button type="button" class="btn btn-success"
          *ngIf="!(capteurs$ | async)?.numerique.AU"
          (click)="setAu(true)">
    Enclencher l'AU
  </button>
  <button type="button" class="btn btn-success"
          *ngIf="(capteurs$ | async)?.numerique.AU"
          (click)="setAu(false)">
    Claquer l'AU
  </button>
  <div class="btn-group">
    <button type="button" class="btn btn-jaune {{(capteurs$ | async)?.text.Equipe === 'JAUNE' ? 'btn-active' : ''}}"
            (click)="setTeam('JAUNE')">
      Jaune
    </button>
    <button type="button"
            class="btn btn-primary btn-violet {{(capteurs$ | async)?.text.Equipe === 'VIOLET' ? 'btn-active' : ''}}"
            (click)="setTeam('VIOLET')">
      Violet
    </button>
  </div>
</div>

<pre class="mt-3"><code>{{capteurs$ | async | json }}</code></pre>
