@import 'variables';
@import '~bootstrap-float-label/scss/bootstrap-float-label';
@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";

body {
  overflow-y: scroll;
}

.btn-round {
  border-radius: 50%;
  padding: 0.5rem 0;
  width: 2.5rem;
  height: 2.5rem;
  text-align: center;
}

.has-float-label {
  label, > span {
    top: -0.5rem;
    font-size: 90%;
  }

  .form-control:placeholder-shown:not(:focus) + * {
    top: 0.55rem;
    font-size: inherit;
  }
}
