@import 'styles/variables';
@import '~bootstrap/scss/bootstrap';
@import '~bootswatch/dist/darkly/bootswatch';
@import 'styles/floating-labels';
@import '~primeng/resources/themes/bootstrap4-dark-blue/theme.css';
@import '~primeng/resources/primeng.css';


.btn-round {
  border-radius: 50%;
  padding: 0.5rem 0;
  width: 2.5rem;
  height: 2.5rem;
  text-align: center;

  &.btn-sm {
    width: 1.7rem;
    height: 1.7rem;
    padding: 0.2rem 0;
  }
}

.badge-big {
  font-size: $font-size-sm;
  padding: 0.25rem 0.35rem;
}

.p-sidebar {
  z-index: 810 !important;
}
.p-component-overlay {
  z-index: 800 !important;
}

.p-sidebar-header {
  display: none !important;
}

.p-sidebar-content {
  padding: 1rem !important;;
}
