@import 'styles/variables';
@import '~bootstrap/scss/bootstrap';
@import '~bootstrap-float-label/bootstrap-float-label.css';
@import 'styles/bt-overrides';
@import '~ngx-toastr/toastr-bs4-alert';
@import '~primeng/resources/themes/bootstrap4-dark-blue/theme.css';
@import '~primeng/resources/primeng';


.btn-round {
  border-radius: 50%;
  padding: 0.5rem 0;
  width: 2.5rem;
  height: 2.5rem;
  text-align: center;

  &.btn-sm {
    width: 1.7rem;
    height: 1.7rem;
    padding: 0.2rem 0;
  }
}

.badge-big {
  font-size: $h5-font-size * 0.75;
}

.p-sidebar-header {
  display: none !important;
}

.p-sidebar-content {
  padding: 1rem !important;;
}
