<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link"
       [routerLink]="['./info']"
       routerLinkActive="active">
      <fa name="info-circle"></fa>
      Informations
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link"
       [routerLink]="['./servos']"
       routerLinkActive="active">
      <fa name="cogs"></fa>
      Servos
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link"
       [routerLink]="['./mouvement']"
       routerLinkActive="active">
      <fa name="arrows"></fa>
      Mouvement
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link"
       [routerLink]="['./map']"
       routerLinkActive="active">
      <fa name="map"></fa>
      Carte
    </a>
  </li>
</ul>

<div class="bg-faded p-3">
  <router-outlet></router-outlet>
</div>
