@import '../../../styles/variables';

.mouvement-icon {
  flex: none;
  width: 4.5rem;
  height: 4.5rem;
  background: $primary;
  border-radius: 50%;
  font-size: 2.5rem;
  line-height: 1;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
