<div class="row no-gutters">
  <div class="col-3 d-flex justify-content-center align-items-center">
    <div class="mouvement-icon">
      <fa-icon [icon]="icon"></fa-icon>
    </div>
  </div>
  <div class="col-9">
    <h6 class="card-title mb-0">{{name}}</h6>

    <div class="form-inline d-inline-flex mt-3">
      <div *ngFor="let field of fields"
           class="form-group has-float-label">
        <input class="form-control form-control-sm mr-1"
               style="width: 90px"
               type="number"
               [(ngModel)]="values[field]"
               placeholder="{{field}}">
        <span>{{field}}</span>
      </div>

      <button class="btn btn-secondary btn-sm btn-round" (click)="apply()">
        <fa-icon icon="check"></fa-icon>
      </button>
    </div>
  </div>
</div>


