.mouvement-icon {
  flex: none;
  width: 5rem;
  height: 5rem;
  background: lightgray;
  border-radius: 50%;
  font-size: 3rem;
  line-height: 1;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
