<div class="row no-gutters">
  <div class="col-3 d-flex justify-content-center align-items-center">
    <div class="mouvement-icon m-2">
      <fa-icon [icon]="icon"></fa-icon>
    </div>
  </div>
  <div class="col-9">
    <div class="card-body p-2">
      <h5 class="card-title">{{name}}</h5>

      <div class="form-inline d-inline-flex">
        <div *ngFor="let field of fields"
             class="form-group has-float-label">
          <input class="form-control form-control-sm mr-1"
                 style="width: 90px"
                 type="number"
                 [(ngModel)]="values[field]"
                 placeholder="{{field}}">
          <span>{{field}}</span>
        </div>

        <button class="btn btn-success btn-sm btn-round" (click)="apply()">
          <fa-icon icon="check"></fa-icon>
        </button>
      </div>
    </div>
  </div>
</div>


